---
import { URL_BASE } from "@/config";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="relative flex flex-col min-h-screen"
    style={`background-image: url('${URL_BASE}/imgs/bg-main.webp'); background-size: cover; background-position: center;`}
  >
    <div class="absolute top-0 inset-0">
      <img
        class="max-w-60 md:max-w-3xl"
        src={`${URL_BASE}/imgs/svg/header hero.svg`}
        alt="Logo metoject"
      />
    </div>
    <header class="flex justify-end p-4">
      <img
        class="w-36 md:w-40"
        src={`${URL_BASE}/imgs/svg/logo_metoject.svg`}
        alt="Logo metoject"
      />
    </header>
    <main class="flex-1 flex flex-col items-center p-4 overflow-clip">
      <div>
        <img
          src={`${URL_BASE}/imgs/logo4x4.webp`}
          alt="4x4 Beneficios de la inyección subcutánea de metotrexato en el tratamiento de la artritis reumatoide"
          class="mx-auto mt-10 md:mt-20 w-full max-w-5xl h-auto"
        />
      </div>
      <div>
        <a
          href={`${URL_BASE}/quiz`}
          class="inline-block text-center text-2xl md:text-3xl mt-10 px-6 py-3 bg-radial from-blue-light-metoject to-blue-dark-metoject text-white font-semibold rounded-lg shadow-md transition-transform duration-300 hover:scale-95"
        >
          COMENZAR QUIZ
        </a>
      </div>
    </main>
    <footer class="flex justify-between">
      <div>
        <img class="max-w-96 lg:max-w-3xl block" src={`${URL_BASE}/imgs/svg/footer 1.svg`} alt="Footer 1" />
      </div>
      <div>
        <img class="hidden lg:block" src={`${URL_BASE}/imgs/svg/footer 2.svg`} alt="Footer 2" />
      </div>
    </footer>
  </div>
</Layout>
